Repository adamkhairi/electro-store: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"]
}

.lintstagedrc.json:

{
  "**/*.{json,md,yaml,yml}": ["prettier --write"],
  "frontend/**/*.{js,jsx,ts,tsx}": ["prettier --write"],
  "backend/**/*.{js,ts}": ["prettier --write"]
}

fix: disable pre-push tests temporarily until test suites are implemented
  .husky/pre-push
Due: none

feat(pos): implement pos state and sales api
  backend/prisma/migrations/20250923091218_add_pos_sales_tables/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/categoryController.ts
  backend/src/controllers/locationController.ts
  backend/src/controllers/salesController.ts
  backend/src/index.ts
  backend/src/routes/locations.ts
  backend/src/routes/sales.ts
  backend/src/services/saleService.ts
  frontend/src/App.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/PageWrapper.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/categories/index.tsx
  frontend/src/pages/inventory/InventoryDashboard.tsx
  frontend/src/pages/locations/LocationForm.tsx
  frontend/src/pages/locations/LocationsPage.tsx
  frontend/src/pages/locations/index.tsx
  frontend/src/pages/pos/PosPage.tsx
  frontend/src/pages/products/index.tsx
  frontend/src/services/api.ts
  frontend/src/store/index.ts
  frontend/src/store/slices/posSlice.ts
  frontend/tailwind.config.js
  specs.md
Due: prettier --write, eslint --fix

Fix workspace protocol error in package.json
  package.json
Due: prettier --write

Fix concurrently command not found error
  package.json
Due: prettier --write

Fix bunx command not found error
  package.json
Due: prettier --write

Fix vite command not found by using bun run consistently
  package.json
Due: prettier --write

Fix bun command not found by using npm workspace commands
  package.json
Due: prettier --write

feat(api): enhance API type definitions and improve error handling
  .github/copilot-instructions.md
  backend/tsconfig.json
  bun.lock
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/categories/CategoryForm.tsx
  frontend/src/components/categories/CategoryList.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/PageWrapper.tsx
  frontend/src/components/products/ProductForm.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/pages/categories/index.tsx
  frontend/src/pages/dashboard/DashboardPage.tsx
  frontend/src/pages/inventory/InventoryDashboard.tsx
  frontend/src/pages/inventory/InventoryMovementsPage.tsx
  frontend/src/pages/inventory/StockAdjustmentPage.tsx
  frontend/src/pages/locations/LocationForm.tsx
  frontend/src/pages/locations/LocationsPage.tsx
  frontend/src/pages/pos/PosPage.tsx
  frontend/src/pages/products/CreateProductPage.tsx
  frontend/src/pages/products/EditProductPage.tsx
  frontend/src/pages/products/ProductDetailPage.tsx
  frontend/src/pages/products/index.tsx
  frontend/src/services/api.ts
  frontend/src/store/slices/authSlice.ts
  frontend/tailwind.config.js
  frontend/vite.config.ts
  shared/types/tsconfig.json
Due: prettier --write, eslint --fix
